* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

a,
a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*--------------------*/
@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"),
    url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-duotone-900";
  font-display: swap;
  src: url("../fonts/fa-duotone-900.woff") format("woff"),
    url("../fonts/fa-duotone-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-light-300";
  font-display: swap;
  src: url("../fonts/fa-light-300.woff") format("woff"),
    url("../fonts/fa-light-300.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"),
    url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-solid-900";
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff") format("woff"),
    url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-b";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"),
    url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter-ex";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff") format("woff"),
    url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter-m";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"),
    url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-r";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-s";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"),
    url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "roboto-r";
  font-display: swap;
  src: url("../fonts/roboto-regular.woff") format("woff"),
    url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open-s";
  font-display: swap;
  src: url("../fonts/open-sans.woff") format("woff"),
    url("../fonts/open-sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
:root {
  --headerBg: #05b7bf;
  --langLink: #ababab;
  --sideHeader: #05b7bd;
  --sideHeaderText: #00245a;
  --sideMuted: #6c757d;
  --sideDark: #212529;
  --primaryColor: #7749f8;
  --primaryColorLight: #ebe5fc;
  --searchBtn: #7749f8;
  --searchBg: #f8f9fa;
  --primaryColorDark: #5227cc;
  --secondaryLight: #abb5be;
  --baseColor: #68717a;
  --white: #ffffff;
  --dark: #343a40;
  --darkAccordion: #000000;
  --titleColor: #152536;
  --stroke: #dee2e6;
  --cardBg: #e9e9e9;
}

.wrapper {
  width: 100%;
  min-height: 1px;
  height: 1px;
}

.main {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  min-height: 100%;
}

input[type="search"] {
  font-family: "roboto-r";
  font-size: 12px;
  line-height: 14px;
  color: var(--secondaryLight);
  padding-left: 15px;
}

input[type="text"] {
  font-family: "roboto-r";
  font-size: 16px;
  line-height: 21px;
  color: var(--secondaryLight);
  padding-left: 15px;
}

/*header*/
.header {
  width: 100%;
  margin: 0 auto;
}
.header__menu {
  width: 100%;
  padding: 0;
  height: 80px;
}
.header__lable {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199.9px) {
  .header__lable {
    margin-left: 0px;
  }
}
.header__content {
  min-height: 225px;
  background: url("../img/headerBg.png") no-repeat center;
  background-size: cover;
}
.header__text {
  max-width: 1110px;
  align-self: center;
  margin: 0 auto;
}
.header__text h1 {
  width: 35%;
  padding-top: 57px;
  font-family: "Inter-b";
  font-size: 40px;
  line-height: 56px;
  text-transform: capitalize;
  color: var(--sideHeaderText);
}
@media (max-width: 1319.9px) {
  .header__text h1 {
    font-size: 35px;
  }
}
@media (max-width: 1199.9px) {
  .header__text h1 {
    font-size: 30px;
  }
}
@media (max-width: 575.9px) {
  .header__text h1 {
    font-size: 20px;
  }
}

.menu-header {
  background: var(--sideDark);
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-list button {
  padding: 0 16px;
}

.list-btn {
  font-family: "open-s";
  font-size: 18px;
  line-height: 25px;
  color: var(--langLink);
}

/*navbar*/
.nav {
  padding: 18px 0;
  display: block !important;
}
.nav__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__empty {
  width: 31%;
  margin-right: 35px;
}
.nav__content {
  width: 65.7%;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--searchBg);
  border-radius: 4px;
}
.nav__menu li::after {
  content: "/";
  position: absolute;
  top: 15px;
  right: 0px;
  bottom: 0px;
  color: var(--baseColor);
  font-size: 17px;
}
.nav__menu li:last-child::after {
  content: "";
}
.nav__item {
  padding: 16px 17px;
  position: relative;
}
.nav__link {
  font-family: "Inter-m";
  font-size: 16px;
  line-height: 16px;
  color: var(--primaryColor);
}

.nav__item.active .nav__link {
  color: var(--baseColor);
}

/*section-side*/
.section {
  padding: 0;
  height: 1px;
}
.section__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.section-side {
  width: 31%;
  margin-right: 35px;
}
.section-side__header {
  width: 100%;
  height: 135px;
  background: linear-gradient(97.16deg, #05b7bf 19.53%, #00b3a8 80.6%);
  border: 1px solid #05b7bd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-side__header h2 {
  font-family: "Inter-r";
  font-size: 20px;
  line-height: 24px;
  color: var(--sideHeaderText);
}
.section-side__menu {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 184px;
  background: var(--white);
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
.section-side__menu a {
  display: block;
  width: 100%;
  font-family: "Inter-b";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background-color: var(--primaryColorLight);
  color: var(--primaryColorDark);
  padding: 8px 16px;
  margin: 0px 0px;
}
.section-side__menu span {
  font-family: "Inter-b";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--secondaryLight);
  display: block;
  margin: 16px 16px;
}
.section-side__list {
  width: 100%;
  padding-left: 0;
}
.section-side__item button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  font-family: "Inter-m";
  font-size: 14px;
  line-height: 16px;
  color: var(--dark);
}
.section-side__filter {
  margin-top: 71px;
}
.section-side__filter span {
  display: block;
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 24px;
  color: var(--sideDark);
  margin-bottom: 17px;
}
.section-side__filter button {
  width: 100%;
  height: 29px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 8px;
  background: #ffffff;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  margin-bottom: 16px;
  font-family: "Inter-r";
  font-size: 14px;
  line-height: 21px;
  color: var(--sideMuted);
}
.section-side__filter button:last-child {
  height: 50px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sideHeader);
  font-family: "Inter-r";
  font-size: 20px;
  line-height: 24px;
  color: var(--sideHeaderText);
}
.section-side__filter button:after {
  position: absolute;
  top: 11px;
  right: 12px;
  bottom: 0px;
}

.dropdown-menu {
  width: 100%;
}
.dropdown-menu li {
  padding: 4px 24px;
  margin-bottom: 4px;
}
.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-item {
  padding: 0 !important;
  font-family: "Inter-r";
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--sideDark);
}
.dropdown-item:hover {
  background: var(--white);
}

.section-side__item.active .section-side__link {
  z-index: 3;
  color: var(--white);
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

/*section-content*/
.section-content {
  width: 65.7%;
  border-radius: 4px;
}
.section-content__form {
  position: relative;
}
.section-content__form::before {
  content: '6600+Results for "Search"';
  position: absolute;
  font-family: "roboto-r";
  font-size: 12px;
  line-height: 14px;
  color: #abb5be;
  bottom: 23px;
  left: 105px;
}
.section-content__search {
  width: 100%;
  height: 136px;
  background: var(--searchBg) url("../img/icons/search.svg") no-repeat 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.9px) {
  .section-content__search {
    background: var(--searchBg) url("../img/icons/search.svg") no-repeat 10px;
  }
}
@media (max-width: 767.9px) {
  .section-content__search {
    background: none;
  }
}
.section-content__input {
  width: 64.9%;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}
.section-content__btn {
  width: 71px;
  height: 37px;
  font-family: "roboto-r";
  font-size: 12px;
  line-height: 14px;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 6px;
}
.section-content__people {
  margin-top: 14px;
}
.section-content__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 2s ease 0s;
  opacity: 0;
}
.section-content__pagination {
  margin-top: 210px;
}
.section-content__pagination ul a {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 16px;
  color: var(--primaryColor);
  padding: 12px 14px;
}
.section-content__pagination ul a:hover {
  color: var(--secondaryLight) !important;
  background-color: var(--white) !important;
}

/*card*/
.section-card {
  width: 47.2%;
  height: 520px;
  border: 1px solid var(--stroke);
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 991.9px) {
  .section-card {
    border: none;
  }
}
.section-card__header {
  display: flex;
}
.section-card__info {
  margin: 36px 0px 0px 18px;
}
.section-card__info li {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 24px;
  color: var(--baseColor);
}
.section-card__info li:nth-child(2n) {
  font-family: "Inter-b";
}
.section-card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-card__body h3 {
  font-family: "Inter-ex";
  font-size: 20px;
  line-height: 24px;
  color: var(--titleColor);
  margin: 25px 0 11px 25px;
}
.section-card__body p {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 24px;
  color: var(--baseColor);
  margin: 0px 0 20px 25px;
}
.section-card__body ul {
  width: 100%;
}
.section-card__body ul button {
  font-family: "Inter-s";
  font-size: 16px;
  line-height: 19px;
  color: var(--searchBtn);
  cursor: pointer;
}
.section-card__body ul li {
  padding: 16px 0px 14px 16px;
  border-top: 1px solid var(--stroke);
}
.section-card__body ul li span {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 19px;
  color: var(--baseColor);
}

/*card -- section-favorites*/
.card-section {
  position: relative;
}
.card-section::after {
  content: "";
  background: url("../img/icons/bookmarkHeart.svg") no-repeat;
  background-position: top right;
  position: absolute;
  top: -5px;
  left: 0px;
  right: 7px;
  bottom: 0px;
  opacity: 0;
}
@media (max-width: 991.9px) {
  .card-section::after {
    background: none;
  }
}

/*card -- section-profile*/
.section-content {
  margin-bottom: 200px;
}
.section-content__people {
  width: 100%;
}

.section-profile {
  width: 100%;
  border: 1px solid var(--stroke);
  border-radius: 0px 0px 4px 4px;
}
.section-profile__img {
  width: 100%;
  background-color: var(--cardBg);
  border-radius: 4px 4px 0px 0px;
}
.section-profile__img img {
  border-radius: 4px 0px 0px 0px;
}
.section-profile__list ul {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0 20px 0;
}
@media (max-width: 767.9px) {
  .section-profile__list ul {
    flex-direction: column;
    margin-left: 20px;
  }
}
.section-profile__list li p {
  font-family: "Inter-ex";
  font-size: 20px;
  line-height: 24px;
  color: var(--titleColor);
  display: block;
}
.section-profile__list li:nth-child(1) {
  flex: 1 1 410px;
  margin-left: 24px;
}
@media (max-width: 767.9px) {
  .section-profile__list li:nth-child(1) {
    flex: 0;
    margin-left: 0;
  }
}
.section-profile__list li:nth-child(n + 2) {
  margin-right: 49px;
}
.section-profile__list li:nth-child(n + 2) p {
  font-family: "Inter-b";
  font-size: 16px;
  line-height: 10px;
  color: var(--baseColor);
}
.section-profile__list span {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 24px;
  color: var(--baseColor);
}
.section-profile__link {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-profile__link a {
  width: 100%;
  margin-top: 15px;
  height: 50px;
  background: #ffffff;
  border: 1px solid var(--stroke);
  border-radius: 4px 4px 0px 0px;
  box-sizing: border-box;
  padding: 16px 0 16px 16px;
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 19px;
  color: var(--primaryColor);
}
.section-profile__link a:last-child {
  margin-top: -2px;
  border-radius: 0px 0px 4px 4px;
}
.section-profile button {
  width: 100%;
  height: 50px;
  background: var(--white);
  border-top: 1px solid var(--stroke);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 16px 0 16px 16px;
  font-family: "Inter-s";
  font-size: 16px;
  line-height: 19px;
  color: var(--searchBtn);
}
.section-profile__info {
  margin-top: 20px;
  margin-left: 25px;
}
.section-profile__info span {
  font-family: "Inter-s";
  font-size: 16px;
  line-height: 19px;
  color: #68717a;
  display: block;
}
.section-profile__info p {
  font-family: "Inter-s";
  font-size: 16px;
  line-height: 19px;
  color: #68717a;
  display: block;
}
.section-profile__info-first {
  margin-bottom: 38px;
}
.section-profile__info-second {
  margin-bottom: 38px;
}
.section-profile__info-third {
  margin-bottom: 38px;
}
.section-profile__info-fourth {
  margin-bottom: 38px;
}
.section-profile__info-fifth {
  margin-bottom: 38px;
}
.section-profile__info-sixth {
  margin-bottom: 38px;
}
.section-profile__info-seventh {
  margin-bottom: 38px;
}
.section-profile__info-eighth {
  margin-bottom: 38px;
}
.section-profile__info-ninth {
  margin-bottom: 38px;
}
.section-profile__info-tenth {
  margin-bottom: 38px;
}
.section-profile__info-eleventh {
  margin-bottom: 38px;
}
.section-profile__info-twelfth {
  margin-bottom: 38px;
}
.section-profile pre {
  font-family: "Inter-r";
  font-size: 14px;
  line-height: 24px;
  color: #68717a;
  border-top: 1px solid var(--stroke);
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px 60px 24px;
  margin-bottom: 0px !important;
}

/*registration form*/
.reg-header {
  background: url("../img/regBg.jpg");
}

.reg-section {
  width: 100%;
  min-height: 100vh;
  background: url("../img/registrationBg.jpg");
}
.reg-section__sign {
  width: 32.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reg-section__sign h1 {
  font-family: "Inter-b";
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: var(--white);
}
.reg-section__form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
}
.reg-section__form input {
  width: 100%;
  height: 38px;
  background: var(--white);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}
.reg-section__form input:last-child {
  margin-bottom: 0px;
}
.reg-section__form input:focus {
  border: 1px solid #05b7bf;
}
.reg-section__form input._error {
  border: 1px solid red;
}
.reg-section__error span {
  font-family: "Inter-r";
  font-size: 12px;
  line-height: 12px;
  color: #dc3545;
  opacity: 0;
}
.reg-section__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 43.5px;
  background: var(--primaryColor);
  border-radius: 4px;
  font-family: "Inter-s";
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  margin-top: 16px;
  cursor: pointer;
}
.reg-section__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.reg-section__link a {
  font-family: "Inter-r";
  font-size: 12px;
  line-height: 12px;
  color: var(--secondaryLight);
  margin-top: 32px;
}

/*validator class*/
#allarm {
  margin-top: 5px;
  width: 100%;
  font-family: "Inter-r";
  font-size: 12px;
  line-height: 12px;
  color: #dc3545;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: 1s all ease 1s;
}

/*pagination*/
.page-item.active .page-link {
  z-index: 3 !important;
  color: var(--white) !important;
  background-color: var(--primaryColor) !important;
  border-color: var(--primaryColor) !important;
}

.pagination li .active {
  background-color: var(--primaryColor);
  color: white;
}

/*accordion*/
.accordion {
  width: 100%;
  min-height: 0;
  display: block;
  position: relative;
  margin-top: 15px;
  padding: 0;
  background-color: var(--white);
  overflow: hidden;
}

.accordion h2 {
  font-family: "Inter-s";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  display: block;
  padding: 16px 0 16px 16px;
  cursor: pointer;
  color: var(--darkAccordion);
  background: var(--white);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
}

.msg {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
}

.msg p {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 28px;
  color: var(--darkAccordion);
  letter-spacing: 1px;
  padding: 0 20px;
}

@media (max-width: 550px) {
  .accordion {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}
.accordion ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.accordion ul li {
  position: relative;
  padding: 0;
  margin-top: 0px;
}

.accordion ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.accordion ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.accordion ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.accordion ul li:last-of-type {
  padding-bottom: 0;
}

.accordion ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
}

.accordion ul li i:after {
  content: "";
  background: url("../img/icons/stroke.svg") no-repeat top;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 13px;
  height: 7px;
}

.accordion ul li i:before {
  transform: translate(-2px, 0) rotate(180deg);
}

.accordion ul li i:after {
  transform: translate(2px, 0) rotate(-180deg);
}

.accordion ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.accordion ul li input[type="checkbox"]:checked ~ div.msg {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.accordion ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(0deg);
}

.accordion ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(0deg);
}

div.msg,
ul li i:before,
ul li i:after {
  transition: all 0.5s ease-in-out;
}

.carousel-container {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  padding: 10px;
}

.carousel-item .active {
  display: flex;
}

nav[aria-label] {
  margin-top: 50px;
  align-self: center;
}

.pagination li a {
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 16px;
  color: var(--primaryColor);
  padding: 12px 14px;
}

.pagination a:hover {
  color: var(--secondaryLight) !important;
  background-color: var(--white) !important;
}

.tooltip {
  color: #000000;
  outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
  opacity: 1;
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 19px;
  color: var(--baseColor);
}

.tooltip span {
  margin-left: -999em;
  position: absolute;
}

.tooltip:hover span {
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}

.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.tooltip:hover em {
  display: block;
  padding: 0.2em 0 0.6em 0;
  font-style: normal;
  font-family: "Inter-r";
  font-size: 16px;
  line-height: 19px;
  color: var(--darkAccordion);
}

.classic {
  padding: 0.8em 1em;
}

.custom {
  padding: 0.5em 0.8em 0.8em 2em;
}

.info {
  background: #9fdaee;
  border: 1px solid #2bb0d7;
}

.input-login._error {
  color: red;
}

.input-password._error {
  color: red;
}
