.layoutContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  /* border: 10px solid red; */
  background-color: #212529;
  color: white;
}

/* Header */
.headerContainer {
  border-bottom: 0.5px solid rgb(175, 172, 172);
  /* margin-bottom: 20px; */
}

.GroupLogo {
  width: 200px;
  height: 50px;
  padding: 10px;
}

/* Login */

.login_main_container{
  /* border: 2px solid white; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_container {
  height: 60%;
  width: 60%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textHeader{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.inputFormsContainer{
  /* border: 2px solid red; */
  width: 60%;
  height: 60%;
}